* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-size: 14pt;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Product Sans', Arial, sans-serif;
}

a,
a:visited {
    color: blue;
}

button[type=submit] {
    background-color: #267ddb;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #2069b7;
}

/* Home Page */

.search-text {
    margin-top: 8rem;
    background: linear-gradient(to right, #ff0000, #3300ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin: 2rem;
}

.search-form input[type=text] {
    width: min(40rem, 90%);
    padding: 18px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.search-form .fa-search {
    width: 60px;
    font-size: 20px;
}

/* Search Results Page */

.searchbar-form {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.searchbar-form input[type=text] {
    padding: 8px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.searchbar-form .fa-search {
    padding: 0.8rem;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 2rem auto;
    border: 2px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f6eaeb;
    font-size: 16pt;
    border-bottom: 1px solid black;
}

tr:hover {
    background-color: #e6f2ff;
}
