<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="static/images/letterA.jpg"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>
<body>
    <h1 class="search-text">Search</h1>
    <form class="search-form" action="/search" method="POST">
        <label for="query"></label>
        <input type="text" name="query" placeholder="Search...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</body>
</html>